<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.springframework.ide.eclipse.boot.launch">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="DATABASE_DRIVER" value="com.mysql.cj.jdbc.Driver"/>
        <mapEntry key="DATABASE_HOST" value="18.177.168.113 "/>
        <mapEntry key="DATABASE_NAME" value="okasan_db"/>
        <mapEntry key="DATABASE_PASSWORD" value="ZP#Zv%mrQPzZvNa4"/>
        <mapEntry key="DATABASE_PORT" value="3306"/>
        <mapEntry key="DATABASE_USERNAME" value="root"/>
        <mapEntry key="LOG_LEVEL" value="DEBUG"/>
        <mapEntry key="LOG_PATH" value="/Users/"/>
        <mapEntry key="REDIS_URI" value="rediss://admin:urlhere"/>
        <mapEntry key="SHARED_SECRET_KEY" value="osaka#test#shared#secret#here"/>
        <mapEntry key="SHOW_SQL" value="true"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jp.co.okasan.WebAdminBackendApplication"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="web-trading-backend"/>
    <booleanAttribute key="spring.boot.ansi.console" value="true"/>
    <stringAttribute key="spring.boot.app.properties" value=""/>
    <booleanAttribute key="spring.boot.auto-connect" value="true"/>
    <booleanAttribute key="spring.boot.dash.hidden" value="false"/>
    <booleanAttribute key="spring.boot.debug.enable" value="false"/>
    <booleanAttribute key="spring.boot.fast.startup" value="true"/>
    <booleanAttribute key="spring.boot.jmx.enable" value="true"/>
    <booleanAttribute key="spring.boot.lifecycle.enable" value="true"/>
    <stringAttribute key="spring.boot.lifecycle.termination.timeout" value="15000"/>
    <booleanAttribute key="spring.boot.livebean.enable" value="false"/>
    <stringAttribute key="spring.boot.livebean.port" value="0"/>
    <stringAttribute key="spring.boot.profile" value=""/>
</launchConfiguration>
